

**/__pycache__/*
*.pt
.cache/*
wandb/*
**/wandb/*
*.db

*.env
*.ipynb

!training_data/databases/*.db

!trained_models/6NF/*.pt
!trained_models/6NF_obf/*.pt
!trained_models/SQL/*.pt
!trained_models/SQL_obf/*.pt

!sandbox.ipynb
!schema/schemas.ipynb
!experiments.ipynb
!experiments_arkareem.ipynb

schema/schema_data/
schema/schema_data_*/
schema/OLD_schema*/
schema/chatgpt_temp.json

scripts/temp/
scripts/**/temp/
